.tree_default {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tree_container_ul {
    position: relative;
    font-size: 14px;

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 1.5;
    }

    .tree_node {
        padding-left: 20px;
    }

    .tree_node_text {
        margin-left: 6px;
    }

    .tree_folder, .tree_file, .tree_triangle, .tree_triangle_right {
        vertical-align: middle;
    }

    .tree_file {
        margin-left: 17px;
    }

    .tree_triangle, tree_triangle_right {
        font-size: 15px;
        margin-right: 5px;
        display: inline-block;
        width: 12px;
    }

}
